@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
}

main {
  margin: 8px;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

p,
h1,
h2,
h3,
h4 {
  color: white;
  line-height: 21px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
  }

  #app {
    min-width: 1240px;
    display: grid;
    padding: 0 2rem;
  }
}
